:root {
    --primary-color: #800020;
    --secondary-color: #B5DFE0;
    --accent-color: #CEC177;
    --text-color: #ffffff;
    --bg-color: #212121;
}

a {
    text-decoration: none;
    color: #fff;
    border: none;
    cursor: pointer;
}

/*VHS Body*/
/*Based on CodePen by Creme*/
 * {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
}
 *::selection {
	 background: #fd5d8d;
	 color: #f1034a;
	 color: #270245;
}
 html, body {
	 width: 100%;
	 height: 100%;
}
 body {
	 position: relative;
	 background: #000;
	 overflow: hidden;
}
 body:before {
	 content: '';
	 position: absolute;
	 left: 0;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .4) 100%);
	 z-index: 500;
	 mix-blend-mode: overlay;
	 pointer-events: none;
}
 .noise {
	 position: fixed;
	 top: 0;
	 left: 0;
	 width: 100vw;
	 height: 100vh;
	 overflow: hidden;
	 z-index: 400;
	 opacity: 0.8;
	 pointer-events: none;
}
 .noise:before {
	 content: '';
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 background: url('https://ice-creme.de/images/background-noise.png');
	 pointer-events: none;
}
 .noise-moving {
	 opacity: 1;
	 z-index: 450;
}
 .noise-moving:before {
	 will-change: background-position;
	 animation: noise 1s infinite alternate;
}
 .scanlines {
	 position: fixed;
	 left: 0;
	 top: 0;
	 width: 100vw;
	 height: 100vh;
	 pointer-events: none;
	 z-index: 300;
	 opacity: 0.6;
	 will-change: opacity;
	 animation: opacity 3s linear infinite;
}
 .scanlines:before {
	 content: '';
	 position: absolute;
	 left: 0;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 pointer-events: none;
	 background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .5) 51%);
	 background-size: 100% 4px;
	 will-change: background, background-size;
	 animation: scanlines 0.2s linear infinite;
}
 .intro-wrap {
	 position: fixed;
	 top: 0;
	 left: 0;
	 font-family: 'Press Start 2P', cursive;
	 color: #fff;
	 font-size: 1rem;
	 width: 100vw;
	 height: 100vh;
	 background: #212121;
}
 .intro-wrap .noise:before {
	 background-size: 200%;
}
 .intro-wrap .play {
	 position: absolute;
	 left: 2rem;
	 top: 2rem;
	 will-change: text-shadow;
	 animation: rgbText 2s steps(9) 0s infinite alternate;
}
 .intro-wrap .play .char {
	 will-change: opacity;
	 animation: type 1.2s infinite alternate;
	 animation-delay: calc(60ms * var(--char-index));
}
 .intro-wrap .time {
	 position: absolute;
	 right: 2rem;
	 top: 2rem;
	 will-change: text-shadow;
	 animation: rgbText 1s steps(9) 0s infinite alternate;
}
 .intro-wrap .recordSpeed {
	 position: absolute;
	 left: 2rem;
	 bottom: 2rem;
	 will-change: text-shadow;
	 animation: rgbText 1s steps(9) 0s infinite alternate;
}
/* Animations */
 @keyframes noise {
	 0%, 100% {
		 background-position: 0 0;
	}
	 10% {
		 background-position: -5% -10%;
	}
	 20% {
		 background-position: -15% 5%;
	}
	 30% {
		 background-position: 7% -25%;
	}
	 40% {
		 background-position: 20% 25%;
	}
	 50% {
		 background-position: -25% 10%;
	}
	 60% {
		 background-position: 15% 5%;
	}
	 70% {
		 background-position: 0 15%;
	}
	 80% {
		 background-position: 25% 35%;
	}
	 90% {
		 background-position: -10% 10%;
	}
}
 @keyframes opacity {
	 0% {
		 opacity: 0.6;
	}
	 20% {
		 opacity: 0.3;
	}
	 35% {
		 opacity: 0.5;
	}
	 50% {
		 opacity: 0.8;
	}
	 60% {
		 opacity: 0.4;
	}
	 80% {
		 opacity: 0.7;
	}
	 100% {
		 opacity: 0.6;
	}
}
 @keyframes scanlines {
	 from {
		 background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .5) 51%);
		 background-size: 100% 4px;
	}
	 to {
		 background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 50%, transparent 51%);
		 background-size: 100% 4px;
	}
}
 @keyframes rgbText {
	 0% {
		 text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
	}
	 25% {
		 text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
	}
	 45% {
		 text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8), 0 5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8), 0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
	}
	 50% {
		 text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8), 0 -5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8), 0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
	}
	 55% {
		 text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 3px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
	}
	 90% {
		 text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8), 0 5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8), 0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
	}
	 100% {
		 text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8), 0 -5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8), 0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
	}
}
 @keyframes type {
	 0%, 19% {
		 opacity: 0;
	}
	 20%, 100% {
		 opacity: 1;
	}
}
/*VHS Body Close*/

.domainMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    gap: 3rem;
    position: relative;
    z-index: 10; /* Ensure it sits above the background but below scanlines */
}

@media (min-width: 768px) {
    .domainMenu {
        flex-direction: row; 
    }
}

/* --- design.bymm Button Styles --- */

/* CSS */
.design-btn-container {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.design-btn,
.design-btn:after {
  width: 200px;
  height: 86px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Krona One', sans-serif;
  background: linear-gradient(45deg, transparent 5%, color(from var(--primary-color) / 0) 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px color(from var(--secondary-color) / 0);
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  animation: rgbText 2s steps(9) 0s infinite alternate;
}

.design-btn:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: 'DESIGN TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, var(--secondary-color) 3%, var(--secondary-color) 5%, var(--primary-color) 5%);
  text-shadow: -3px -3px 0px var(--accent-color), 3px 3px 0px var(--secondary-color);
  clip-path: var(--slice-0);
  cursor: pointer;
}

.design-btn:hover {
    background: linear-gradient(45deg, transparent 5%, color(from var(--primary-color) / 1) 5%);
    box-shadow: 6px 0px 0px color(from var(--secondary-color) / 1);
}

.design-btn:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
  background: linear-gradient(45deg, transparent 5%, var(--primary-color) 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px var(--secondary-color);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

/*@media (min-width: 768px) {
  .design-btn,
  .design-btn:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}*/


/* --- noise.bymm Visualizer Button Styles --- */

/*compiled from SCSS designed by Amit Sheen*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap");

.noise-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    width: 200px;
    height: 86px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

.noise-btn {
    position: relative;
    width: 287px;
    height: 36px;
    border: none;
    background: none;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    margin: 30%;
    animation: rgbText 2s steps(9) 0s infinite alternate;
}

.noise-btn::after {
    content: "Noise";
    opacity: var(--op, 1);
    transition: opacity 0.4s;
}

.noise-btn > i {
    position: absolute;
    left: var(--left, 0);
    top: 50%;
    width: 3px;
    height: 72px;
    transform: translateY(-50%) scaleY(var(--sy, 0));
    z-index: -1;
    transition: transform var(--duration) ease-out;
}

.noise-btn > i::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(var(--accent-color), var(--accent-color));
    border-radius: 50%;
    animation: noise-effect var(--duration) infinite ease-in-out alternate;
    animation-play-state: var(--aps, paused);
}

@keyframes noise-effect {
    0% { transform: scaleY(calc(1 - (var(--size, 0)))); }
    100% { transform: scaleY(calc(1 + (var(--size, 0)))); }
}

/* --- Visualizer Bars --- */
.noise-btn > i:nth-child(1) { --left: 0px; --duration: 247ms; --size: 0.613; --hue: 0; }
.noise-btn > i:nth-child(2) { --left: 4px; --duration: 209ms; --size: 0.549; --hue: 5; }
.noise-btn > i:nth-child(3) { --left: 8px; --duration: 337ms; --size: 0.769; --hue: 10; }
.noise-btn > i:nth-child(4) { --left: 12px; --duration: 230ms; --size: 0.326; --hue: 15; }
.noise-btn > i:nth-child(5) { --left: 16px; --duration: 382ms; --size: 0.592; --hue: 20; }
.noise-btn > i:nth-child(6) { --left: 20px; --duration: 300ms; --size: 0.533; --hue: 25; }
.noise-btn > i:nth-child(7) { --left: 24px; --duration: 345ms; --size: 0.58; --hue: 30; }
.noise-btn > i:nth-child(8) { --left: 28px; --duration: 233ms; --size: 0.286; --hue: 35; }
.noise-btn > i:nth-child(9) { --left: 32px; --duration: 304ms; --size: 0.754; --hue: 40; }
.noise-btn > i:nth-child(10) { --left: 36px; --duration: 364ms; --size: 0.754; --hue: 45; }
.noise-btn > i:nth-child(11) { --left: 40px; --duration: 286ms; --size: 0.329; --hue: 50; }
.noise-btn > i:nth-child(12) { --left: 44px; --duration: 294ms; --size: 0.187; --hue: 55; }
.noise-btn > i:nth-child(13) { --left: 48px; --duration: 249ms; --size: 0.866; --hue: 60; }
.noise-btn > i:nth-child(14) { --left: 52px; --duration: 299ms; --size: 0.275; --hue: 65; }
.noise-btn > i:nth-child(15) { --left: 56px; --duration: 388ms; --size: 0.102; --hue: 70; }
.noise-btn > i:nth-child(16) { --left: 60px; --duration: 398ms; --size: 0.233; --hue: 75; }
.noise-btn > i:nth-child(17) { --left: 64px; --duration: 254ms; --size: 0.69; --hue: 80; }
.noise-btn > i:nth-child(18) { --left: 68px; --duration: 237ms; --size: 0.764; --hue: 85; }
.noise-btn > i:nth-child(19) { --left: 72px; --duration: 328ms; --size: 0.752; --hue: 90; }
.noise-btn > i:nth-child(20) { --left: 76px; --duration: 319ms; --size: 0.117; --hue: 95; }
.noise-btn > i:nth-child(21) { --left: 80px; --duration: 348ms; --size: 0.967; --hue: 100; }
.noise-btn > i:nth-child(22) { --left: 84px; --duration: 381ms; --size: 0.851; --hue: 105; }
.noise-btn > i:nth-child(23) { --left: 88px; --duration: 304ms; --size: 0.712; --hue: 110; }
.noise-btn > i:nth-child(24) { --left: 92px; --duration: 341ms; --size: 0.015; --hue: 115; }
.noise-btn > i:nth-child(25) { --left: 96px; --duration: 287ms; --size: 0.323; --hue: 120; }
.noise-btn > i:nth-child(26) { --left: 100px; --duration: 256ms; --size: 0.295; --hue: 125; }
.noise-btn > i:nth-child(27) { --left: 104px; --duration: 255ms; --size: 0.917; --hue: 130; }
.noise-btn > i:nth-child(28) { --left: 108px; --duration: 359ms; --size: 0.156; --hue: 135; }
.noise-btn > i:nth-child(29) { --left: 112px; --duration: 231ms; --size: 0.299; --hue: 140; }
.noise-btn > i:nth-child(30) { --left: 116px; --duration: 371ms; --size: 0.081; --hue: 145; }
.noise-btn > i:nth-child(31) { --left: 120px; --duration: 358ms; --size: 0.998; --hue: 150; }
.noise-btn > i:nth-child(32) { --left: 124px; --duration: 394ms; --size: 0.524; --hue: 155; }
.noise-btn > i:nth-child(33) { --left: 128px; --duration: 395ms; --size: 0.432; --hue: 160; }
.noise-btn > i:nth-child(34) { --left: 132px; --duration: 251ms; --size: 0.319; --hue: 165; }
.noise-btn > i:nth-child(35) { --left: 136px; --duration: 207ms; --size: 0.899; --hue: 170; }
.noise-btn > i:nth-child(36) { --left: 140px; --duration: 233ms; --size: 0.523; --hue: 175; }
.noise-btn > i:nth-child(37) { --left: 144px; --duration: 373ms; --size: 0.294; --hue: 180; }
.noise-btn > i:nth-child(38) { --left: 148px; --duration: 257ms; --size: 0.05; --hue: 185; }
.noise-btn > i:nth-child(39) { --left: 152px; --duration: 286ms; --size: 0.504; --hue: 190; }
.noise-btn > i:nth-child(40) { --left: 156px; --duration: 388ms; --size: 0.199; --hue: 195; }
.noise-btn > i:nth-child(41) { --left: 160px; --duration: 309ms; --size: 0.22; --hue: 200; }
.noise-btn > i:nth-child(42) { --left: 164px; --duration: 290ms; --size: 0.215; --hue: 205; }
.noise-btn > i:nth-child(43) { --left: 168px; --duration: 385ms; --size: 0.073; --hue: 210; }
.noise-btn > i:nth-child(44) { --left: 172px; --duration: 383ms; --size: 0.253; --hue: 215; }
.noise-btn > i:nth-child(45) { --left: 176px; --duration: 365ms; --size: 0.182; --hue: 220; }
.noise-btn > i:nth-child(46) { --left: 180px; --duration: 393ms; --size: 0.201; --hue: 225; }
.noise-btn > i:nth-child(47) { --left: 184px; --duration: 263ms; --size: 0.577; --hue: 230; }
.noise-btn > i:nth-child(48) { --left: 188px; --duration: 286ms; --size: 0.17; --hue: 235; }
.noise-btn > i:nth-child(49) { --left: 192px; --duration: 299ms; --size: 0.033; --hue: 240; }
.noise-btn > i:nth-child(50) { --left: 196px; --duration: 310ms; --size: 0.223; --hue: 245; }
.noise-btn > i:nth-child(51) { --left: 200px; --duration: 274ms; --size: 0.507; --hue: 250; }
.noise-btn > i:nth-child(52) { --left: 204px; --duration: 327ms; --size: 0.117; --hue: 255; }
.noise-btn > i:nth-child(53) { --left: 208px; --duration: 298ms; --size: 0.804; --hue: 260; }
.noise-btn > i:nth-child(54) { --left: 212px; --duration: 271ms; --size: 0.535; --hue: 265; }
.noise-btn > i:nth-child(55) { --left: 216px; --duration: 228ms; --size: 0.203; --hue: 270; }
.noise-btn > i:nth-child(56) { --left: 220px; --duration: 313ms; --size: 0.851; --hue: 275; }
.noise-btn > i:nth-child(57) { --left: 224px; --duration: 275ms; --size: 0.861; --hue: 280; }
.noise-btn > i:nth-child(58) { --left: 228px; --duration: 216ms; --size: 0.542; --hue: 285; }
.noise-btn > i:nth-child(59) { --left: 232px; --duration: 273ms; --size: 0.858; --hue: 290; }
.noise-btn > i:nth-child(60) { --left: 236px; --duration: 331ms; --size: 0.612; --hue: 295; }
.noise-btn > i:nth-child(61) { --left: 240px; --duration: 329ms; --size: 0.746; --hue: 300; }
.noise-btn > i:nth-child(62) { --left: 244px; --duration: 336ms; --size: 0.769; --hue: 305; }
.noise-btn > i:nth-child(63) { --left: 248px; --duration: 360ms; --size: 0.738; --hue: 310; }
.noise-btn > i:nth-child(64) { --left: 252px; --duration: 218ms; --size: 0.884; --hue: 315; }
.noise-btn > i:nth-child(65) { --left: 256px; --duration: 202ms; --size: 0.878; --hue: 320; }
.noise-btn > i:nth-child(66) { --left: 260px; --duration: 223ms; --size: 0.598; --hue: 325; }
.noise-btn > i:nth-child(67) { --left: 264px; --duration: 270ms; --size: 0.774; --hue: 330; }
.noise-btn > i:nth-child(68) { --left: 268px; --duration: 341ms; --size: 0.638; --hue: 335; }
.noise-btn > i:nth-child(69) { --left: 272px; --duration: 222ms; --size: 0.444; --hue: 340; }
.noise-btn > i:nth-child(70) { --left: 276px; --duration: 219ms; --size: 0.633; --hue: 345; }
.noise-btn > i:nth-child(71) { --left: 280px; --duration: 297ms; --size: 0.79; --hue: 350; }
.noise-btn > i:nth-child(72) { --left: 284px; --duration: 259ms; --size: 0.709; --hue: 355; }
.noise-btn > i:nth-child(73) { --left: 288px; --duration: 247ms; --size: 0.613; --hue: 0; }
.noise-btn > i:nth-child(74) { --left: 292px; --duration: 209ms; --size: 0.549; --hue: 5; }
.noise-btn > i:nth-child(75) { --left: 296px; --duration: 337ms; --size: 0.769; --hue: 10; }
.noise-btn > i:nth-child(76) { --left: 300px; --duration: 230ms; --size: 0.326; --hue: 15; }
.noise-btn > i:nth-child(77) { --left: 304px; --duration: 382ms; --size: 0.592; --hue: 20; }
.noise-btn > i:nth-child(78) { --left: 308px; --duration: 300ms; --size: 0.533; --hue: 25; }
.noise-btn > i:nth-child(79) { --left: 312px; --duration: 345ms; --size: 0.58; --hue: 30; }
.noise-btn > i:nth-child(80) { --left: 316px; --duration: 233ms; --size: 0.286; --hue: 35; }
.noise-btn > i:nth-child(81) { --left: 320px; --duration: 304ms; --size: 0.754; --hue: 40; }
.noise-btn > i:nth-child(82) { --left: 324px; --duration: 364ms; --size: 0.754; --hue: 45; }
.noise-btn > i:nth-child(83) { --left: 328px; --duration: 286ms; --size: 0.329; --hue: 50; }
.noise-btn > i:nth-child(84) { --left: 332px; --duration: 294ms; --size: 0.187; --hue: 55; }
.noise-btn > i:nth-child(85) { --left: 336px; --duration: 249ms; --size: 0.866; --hue: 60; }
.noise-btn > i:nth-child(86) { --left: 340px; --duration: 299ms; --size: 0.275; --hue: 65; }
.noise-btn > i:nth-child(87) { --left: 344px; --duration: 388ms; --size: 0.102; --hue: 70; }
.noise-btn > i:nth-child(88) { --left: 348px; --duration: 398ms; --size: 0.233; --hue: 75; }
.noise-btn > i:nth-child(89) { --left: 352px; --duration: 254ms; --size: 0.69; --hue: 80; }
.noise-btn > i:nth-child(90) { --left: 356px; --duration: 237ms; --size: 0.764; --hue: 85; }
.noise-btn > i:nth-child(91) { --left: 360px; --duration: 328ms; --size: 0.752; --hue: 90; }
.noise-btn > i:nth-child(92) { --left: 364px; --duration: 319ms; --size: 0.117; --hue: 95; }
.noise-btn > i:nth-child(93) { --left: 368px; --duration: 348ms; --size: 0.967; --hue: 100; }
.noise-btn > i:nth-child(94) { --left: 372px; --duration: 381ms; --size: 0.851; --hue: 105; }
.noise-btn > i:nth-child(95) { --left: 376px; --duration: 304ms; --size: 0.712; --hue: 110; }
.noise-btn > i:nth-child(96) { --left: 380px; --duration: 341ms; --size: 0.015; --hue: 115; }
.noise-btn > i:nth-child(97) { --left: 384px; --duration: 287ms; --size: 0.323; --hue: 120; }
.noise-btn > i:nth-child(98) { --left: 388px; --duration: 256ms; --size: 0.295; --hue: 125; }
.noise-btn > i:nth-child(99) { --left: 392px; --duration: 255ms; --size: 0.917; --hue: 130; }
.noise-btn > i:nth-child(100) { --left: 396px; --duration: 359ms; --size: 0.156; --hue: 135; }
.noise-btn > i:nth-child(101) { --left: 400px; --duration: 231ms; --size: 0.299; --hue: 140; }
.noise-btn > i:nth-child(102) { --left: 404px; --duration: 371ms; --size: 0.081; --hue: 145; }
.noise-btn > i:nth-child(103) { --left: 408px; --duration: 358ms; --size: 0.998; --hue: 150; }
.noise-btn > i:nth-child(104) { --left: 412px; --duration: 394ms; --size: 0.524; --hue: 155; }
.noise-btn > i:nth-child(105) { --left: 416px; --duration: 395ms; --size: 0.432; --hue: 160; }
.noise-btn > i:nth-child(106) { --left: 420px; --duration: 251ms; --size: 0.319; --hue: 165; }
.noise-btn > i:nth-child(107) { --left: 424px; --duration: 207ms; --size: 0.899; --hue: 170; }
.noise-btn > i:nth-child(108) { --left: 428px; --duration: 233ms; --size: 0.523; --hue: 175; }
.noise-btn > i:nth-child(109) { --left: 432px; --duration: 373ms; --size: 0.294; --hue: 180; }
.noise-btn > i:nth-child(110) { --left: 436px; --duration: 257ms; --size: 0.05; --hue: 185; }
.noise-btn > i:nth-child(111) { --left: 440px; --duration: 286ms; --size: 0.504; --hue: 190; }
.noise-btn > i:nth-child(112) { --left: 444px; --duration: 388ms; --size: 0.199; --hue: 195; }
.noise-btn > i:nth-child(113) { --left: 448px; --duration: 309ms; --size: 0.22; --hue: 200; }
.noise-btn > i:nth-child(114) { --left: 452px; --duration: 290ms; --size: 0.215; --hue: 205; }
.noise-btn > i:nth-child(115) { --left: 456px; --duration: 385ms; --size: 0.073; --hue: 210; }
.noise-btn > i:nth-child(116) { --left: 460px; --duration: 383ms; --size: 0.253; --hue: 215; }
.noise-btn > i:nth-child(117) { --left: 464px; --duration: 365ms; --size: 0.182; --hue: 220; }
.noise-btn > i:nth-child(118) { --left: 468px; --duration: 393ms; --size: 0.201; --hue: 225; }
.noise-btn > i:nth-child(119) { --left: 472px; --duration: 263ms; --size: 0.577; --hue: 230; }
.noise-btn > i:nth-child(120) { --left: 476px; --duration: 286ms; --size: 0.17; --hue: 235; }
.noise-btn > i:nth-child(121) { --left: 480px; --duration: 299ms; --size: 0.033; --hue: 240; }
.noise-btn > i:nth-child(122) { --left: 484px; --duration: 310ms; --size: 0.223; --hue: 245; }
.noise-btn > i:nth-child(123) { --left: 488px; --duration: 274ms; --size: 0.507; --hue: 250; }
.noise-btn > i:nth-child(124) { --left: 492px; --duration: 327ms; --size: 0.117; --hue: 255; }
.noise-btn > i:nth-child(125) { --left: 496px; --duration: 298ms; --size: 0.804; --hue: 260; }
.noise-btn > i:nth-child(126) { --left: 500px; --duration: 271ms; --size: 0.535; --hue: 265; }
.noise-btn > i:nth-child(127) { --left: 504px; --duration: 228ms; --size: 0.203; --hue: 270; }
.noise-btn > i:nth-child(128) { --left: 508px; --duration: 313ms; --size: 0.851; --hue: 275; }
.noise-btn > i:nth-child(129) { --left: 512px; --duration: 275ms; --size: 0.861; --hue: 280; }
.noise-btn > i:nth-child(130) { --left: 516px; --duration: 216ms; --size: 0.542; --hue: 285; }
.noise-btn > i:nth-child(131) { --left: 520px; --duration: 273ms; --size: 0.858; --hue: 290; }
.noise-btn > i:nth-child(132) { --left: 524px; --duration: 331ms; --size: 0.612; --hue: 295; }
.noise-btn > i:nth-child(133) { --left: 528px; --duration: 329ms; --size: 0.746; --hue: 300; }
.noise-btn > i:nth-child(134) { --left: 532px; --duration: 336ms; --size: 0.769; --hue: 305; }
.noise-btn > i:nth-child(135) { --left: 536px; --duration: 360ms; --size: 0.738; --hue: 310; }
.noise-btn > i:nth-child(136) { --left: 540px; --duration: 218ms; --size: 0.884; --hue: 315; }
.noise-btn > i:nth-child(137) { --left: 544px; --duration: 202ms; --size: 0.878; --hue: 320; }
.noise-btn > i:nth-child(138) { --left: 548px; --duration: 223ms; --size: 0.598; --hue: 325; }
.noise-btn > i:nth-child(139) { --left: 552px; --duration: 270ms; --size: 0.774; --hue: 330; }
.noise-btn > i:nth-child(140) { --left: 558px; --duration: 341ms; --size: 0.638; --hue: 335; }
.noise-btn > i:nth-child(141) { --left: 562px; --duration: 222ms; --size: 0.444; --hue: 340; }
.noise-btn > i:nth-child(142) { --left: 568px; --duration: 219ms; --size: 0.633; --hue: 345; }
.noise-btn > i:nth-child(143) { --left: 572px; --duration: 297ms; --size: 0.79; --hue: 350; }
.noise-btn > i:nth-child(144) { --left: 578px; --duration: 259ms; --size: 0.709; --hue: 355; }

.noise-btn-container:hover .noise-btn {
    --sy: 1;
    --aps: running;
    --op: 0;
}
 

/* --- words.bymm Inked Button Styles --- */
.ink-container {
  position: relative;
  width: 200px;
  height: 86px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.ink-container button {
  width: 101%;
  height: 100%;
  font-family: "Pirata One", serif;
  font-size: 40px;
  background: #fff;
  mask: url("/assets/animation/nature-sprite.png");
  mask-size: 2300% 100%;
  -webkit-mask: url("/assets/animation/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  background-color: hsl(from var(--accent-color) h s l / 0.2);
  background-blend-mode: multiply;
  border: none;
  color: #000;
  cursor: pointer;
  animation: ink-out 0.7s steps(22) forwards;
}

.ink-container button:hover {
  animation: ink-in 0.7s steps(22) forwards;
}

.ink-label {
  position: absolute;
  color: #fff;
  text-align: center;
  width: 100%;
  font-family: "Pirata One", serif;
  font-size: 40px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  animation: rgbText 2s steps(9) 0s infinite alternate;
}

@keyframes ink-in {
  from { -webkit-mask-position: 100% 0; mask-position: 100% 0; }
  to { -webkit-mask-position: 0 0; mask-position: 0 0; }
}

@keyframes ink-out {
  from { -webkit-mask-position: 0 0; mask-position: 0 0; }
  to { -webkit-mask-position: 100% 0; mask-position: 100% 0; }
}

/*Subtle flicker on buttons to match the VHS noise */
.swipe-button, .ink-container {
    animation: vhs-flicker 0.1s infinite;
}

@keyframes vhs-flicker {
    0% { opacity: 0.99; transform: translateX(-0.5px); }
    50% { opacity: 1; transform: translateX(0.5px); }
    100% { opacity: 0.98; transform: translateX(0); }
}